body{
    background-image: url("wp-dark-background.jpeg");
    background-size: contain;
    background-repeat: repeat;
}


.main-nav{
    padding: 4.8rem 0;
}

/*
============================================================
*/

.nav-list{
    margin-bottom: 1.8rem;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3.6rem;
}
.nav-link:link,.nav-link:visited{
    display: inline-block;
    text-decoration: none;
    font-size: 2.4rem;
    color: #CCCCCC;
    margin: 0 auto;
    padding: 1.2rem 2.4rem;
    background-color: #002824;
    border-radius: 1.2rem 2.4rem;
    transition: all 0.5s;
}
.nav-link:hover{
    background-color: #222222;
    box-shadow:inset 0 0 0 3px #004b43;
    cursor: pointer;
}

.form-cta{
    display: grid;
    border-radius: 11px;
    overflow: hidden;
    background-color: #222;
    width: 50%;
    margin: 0 auto;
    box-shadow: -0.5px -0.5px 1px #656565;
}
.form{
    display: grid;
    grid-template-columns: 1fr;
    gap:2rem;
    padding: 2.4rem 15rem 3.2rem 15rem;
}

.form-header{
    text-align: center;
    background-color: #002824;
    padding: 1rem;
    margin-bottom: 1.2rem;
}

input:last-child{
    margin-bottom: 2.4rem;
}
.input-box{
    width: 99%;
    border:3px solid #004b43 ;
    border-radius: 10px;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    padding: 0.25rem 2.4rem;
}
.btn--login,.btn--signup{
    width: 50%;
    margin: 0 auto;
}

/*
============================================================
*/

